stages:
  - build
  - testing
  - push
  - staging
  - preprod
  - production

.template: &build 
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  before_script:
    - echo "Building..."
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"auth\":\"$CI_REGISTRY_BASE64\"}}}" > /kaniko/.docker/config.json
  tags:
    - docker

build prometheus:
  <<: *build
  script:
    - cd $CI_PROJECT_DIR/services/monitoring/prometheus/
    - /kaniko/executor --context ./ --dockerfile ./Dockerfile --destination $CI_REGISTRY_USERNAME/prometheus_prj:$CI_COMMIT_SHA

build grafana:
  <<: *build
  script:
    - cd $CI_PROJECT_DIR/services/monitoring/grafana/
    - /kaniko/executor --context ./ --dockerfile ./Dockerfile --destination $CI_REGISTRY_USERNAME/grafana_prj:$CI_COMMIT_SHA

build alertmanager:
  <<: *build
  script:
    - cd $CI_PROJECT_DIR/services/monitoring/alertmanager/
    - /kaniko/executor --context ./ --dockerfile ./Dockerfile --destination $CI_REGISTRY_USERNAME/alertmanager_prj:$CI_COMMIT_SHA

build fluentd:
  <<: *build
  script:
    - cd $CI_PROJECT_DIR/services/logging/fluentd/
    - /kaniko/executor --context ./ --dockerfile ./Dockerfile --destination $CI_REGISTRY_USERNAME/fluentd_prj:$CI_COMMIT_SHA

build rabbitmq:
  <<: *build
  script:
    - cd $CI_PROJECT_DIR/services/rabbitmq/
    - /kaniko/executor --context ./ --dockerfile ./Dockerfile --destination $CI_REGISTRY_USERNAME/rabbitmq:$CI_COMMIT_SHA

build ui:
  <<: *build
  script:
    - cd $CI_PROJECT_DIR/src/search_engine_ui/
    - /kaniko/executor --context ./ --dockerfile ./Dockerfile --destination $CI_REGISTRY_USERNAME/search_engine_ui:$CI_COMMIT_SHA

build crawler:
  <<: *build
  script:
    - cd $CI_PROJECT_DIR/src/search_engine_crawler/
    - /kaniko/executor --context ./ --dockerfile ./Dockerfile --destination $CI_REGISTRY_USERNAME/search_engine_crawler:$CI_COMMIT_SHA

unit_test_crawler:
  stage: testing
  image: python:3.6.0-alpine
  tags:
    - docker
  script:
    - echo "unit test search_engine_crawler"
    - cd $CI_PROJECT_DIR/src/search_engine_crawler/
    - pip install -r requirements.txt -r requirements-test.txt 
    - coverage run -m unittest discover -s tests/ 
    - coverage report --include crawler/crawler.py
  coverage: "/([0-9]{1,3}%)/"

unit_test_ui:
  stage: testing
  image: python:3.6.0-alpine
  tags:
    - docker
  script:
    - echo "unit test search_engine_ui"
    - cd $CI_PROJECT_DIR/src/search_engine_ui/
    - pip install -r requirements.txt -r requirements-test.txt 
    - coverage run -m unittest discover -s tests/ 
    - coverage report --include ui/ui.py
  coverage: "/([0-9]{1,3}%)/"

.template: &push
  stage: push
  image: docker:19
  services:
    - docker:dind
  variables:
    GIT_STRATEGY: none
  tags:
    - docker
  script:
    - echo -n $CI_REGISTRY_PASS | docker login --username $CI_REGISTRY_USERNAME --password-stdin $CI_REGISTRY
    - docker pull $CI_REGISTRY_USERNAME/prometheus_prj:$CI_COMMIT_SHA
    - docker pull $CI_REGISTRY_USERNAME/grafana_prj:$CI_COMMIT_SHA
    - docker pull $CI_REGISTRY_USERNAME/alertmanager_prj:$CI_COMMIT_SHA
    - docker pull $CI_REGISTRY_USERNAME/fluentd_prj:$CI_COMMIT_SHA
    - docker pull $CI_REGISTRY_USERNAME/rabbitmq:$CI_COMMIT_SHA
    - docker pull $CI_REGISTRY_USERNAME/search_engine_ui:$CI_COMMIT_SHA
    - docker pull $CI_REGISTRY_USERNAME/search_engine_crawler:$CI_COMMIT_SHA
    - docker tag $CI_REGISTRY_USERNAME/prometheus_prj:$CI_COMMIT_SHA $CI_REGISTRY_USERNAME/prometheus_prj:$(if [ "$CI_COMMIT_REF_NAME" == "master" ]; then echo latest; else echo $CI_COMMIT_REF_NAME; fi)
    - docker tag $CI_REGISTRY_USERNAME/grafana_prj:$CI_COMMIT_SHA $CI_REGISTRY_USERNAME/grafana_prj:$(if [ "$CI_COMMIT_REF_NAME" == "master" ]; then echo latest; else echo $CI_COMMIT_REF_NAME; fi)
    - docker tag $CI_REGISTRY_USERNAME/alertmanager_prj:$CI_COMMIT_SHA $CI_REGISTRY_USERNAME/alertmanager_prj:$(if [ "$CI_COMMIT_REF_NAME" == "master" ]; then echo latest; else echo $CI_COMMIT_REF_NAME; fi)
    - docker tag $CI_REGISTRY_USERNAME/fluentd_prj:$CI_COMMIT_SHA $CI_REGISTRY_USERNAME/fluentd_prj:$(if [ "$CI_COMMIT_REF_NAME" == "master" ]; then echo latest; else echo $CI_COMMIT_REF_NAME; fi)
    - docker tag $CI_REGISTRY_USERNAME/rabbitmq:$CI_COMMIT_SHA $CI_REGISTRY_USERNAME/rabbitmq:$(if [ "$CI_COMMIT_REF_NAME" == "master" ]; then echo latest; else echo $CI_COMMIT_REF_NAME; fi)
    - docker tag $CI_REGISTRY_USERNAME/search_engine_ui:$CI_COMMIT_SHA $CI_REGISTRY_USERNAME/search_engine_ui:$(if [ "$CI_COMMIT_REF_NAME" == "master" ]; then echo latest; else echo $CI_COMMIT_REF_NAME; fi)
    - docker tag $CI_REGISTRY_USERNAME/search_engine_crawler:$CI_COMMIT_SHA $CI_REGISTRY_USERNAME/search_engine_crawler:$(if [ "$CI_COMMIT_REF_NAME" == "master" ]; then echo latest; else echo $CI_COMMIT_REF_NAME; fi)
    - docker push $CI_REGISTRY_USERNAME/prometheus_prj:$(if [ "$CI_COMMIT_REF_NAME" == "master" ]; then echo latest; else echo $CI_COMMIT_REF_NAME; fi)
    - docker push $CI_REGISTRY_USERNAME/grafana_prj:$(if [ "$CI_COMMIT_REF_NAME" == "master" ]; then echo latest; else echo $CI_COMMIT_REF_NAME; fi)
    - docker push $CI_REGISTRY_USERNAME/alertmanager_prj:$(if [ "$CI_COMMIT_REF_NAME" == "master" ]; then echo latest; else echo $CI_COMMIT_REF_NAME; fi)
    - docker push $CI_REGISTRY_USERNAME/fluentd_prj:$(if [ "$CI_COMMIT_REF_NAME" == "master" ]; then echo latest; else echo $CI_COMMIT_REF_NAME; fi)
    - docker push $CI_REGISTRY_USERNAME/rabbitmq:$(if [ "$CI_COMMIT_REF_NAME" == "master" ]; then echo latest; else echo $CI_COMMIT_REF_NAME; fi)
    - docker push $CI_REGISTRY_USERNAME/search_engine_ui:$(if [ "$CI_COMMIT_REF_NAME" == "master" ]; then echo latest; else echo $CI_COMMIT_REF_NAME; fi)
    - docker push $CI_REGISTRY_USERNAME/search_engine_crawler:$(if [ "$CI_COMMIT_REF_NAME" == "master" ]; then echo latest; else echo $CI_COMMIT_REF_NAME; fi)

push latest:
  <<: *push
  only:
    - master
    
push tag:
  <<: *push
  only:
    - tags

.template: &deploy
  image: google/cloud-sdk
  tags:
    - docker
  before_script:
    - echo "export URL=$URL" >> $CI_PROJECT_DIR/docker/tag
    - echo "export EXCLUDE_URLS=$EXCLUDE_URLS" >> $CI_PROJECT_DIR/docker/tag    
    - echo "export CI_REGISTRY_USERNAME=$CI_REGISTRY_USERNAME" >> $CI_PROJECT_DIR/docker/tag
    - echo "export RABBITMQ_VER=$(if [ \"$CI_COMMIT_REF_NAME\" == \"master\" ]; then echo latest; else echo $CI_COMMIT_SHA; fi)" >> $CI_PROJECT_DIR/docker/tag
    - echo "export UI_VER=$(if [ \"$CI_COMMIT_REF_NAME\" == \"master\" ]; then echo latest; else echo $CI_COMMIT_SHA; fi)" >> $CI_PROJECT_DIR/docker/tag
    - echo "export CRAWLER_VER=$(if [ \"$CI_COMMIT_REF_NAME\" == \"master\" ]; then echo latest; else echo $CI_COMMIT_SHA; fi)" >> $CI_PROJECT_DIR/docker/tag
    - echo "export PROMETHEUS_VER=$(if [ \"$CI_COMMIT_REF_NAME\" == \"master\" ]; then echo latest; else echo $CI_COMMIT_SHA; fi)" >> $CI_PROJECT_DIR/docker/tag
    - echo "export ALERTMANAGER_VER=$(if [ \"$CI_COMMIT_REF_NAME\" == \"master\" ]; then echo latest; else echo $CI_COMMIT_SHA; fi)" >> $CI_PROJECT_DIR/docker/tag
    - echo "export GRAFANA_VER=$(if [ \"$CI_COMMIT_REF_NAME\" == \"master\" ]; then echo latest; else echo $CI_COMMIT_SHA; fi)" >> $CI_PROJECT_DIR/docker/tag
    - echo "export FLUENTD_VER=$(if [ \"$CI_COMMIT_REF_NAME\" == \"master\" ]; then echo latest; else echo $CI_COMMIT_SHA; fi)" >> $CI_PROJECT_DIR/docker/tag
    - cat $CI_PROJECT_DIR/docker/tag
  script:
    - echo "Deploy $CI_ENVIRONMENT_NAME env"
    - echo $GCLOUD_SERVICE_KEY | gcloud auth activate-service-account --key-file=-
    - gcloud --quiet config set project $GOOGLE_PROJECT_ID
    - gcloud --quiet config set compute/zone $GOOGLE_COMPUTE_ZONE
    - gcloud compute scp --recurse docker docker-host-$CI_ENVIRONMENT_NAME:~
    - gcloud compute ssh docker-host-$CI_ENVIRONMENT_NAME --command="mkdir -p /root/docker && cd ~/docker && mv -f .env.example .env"
    - gcloud compute ssh docker-host-$CI_ENVIRONMENT_NAME --command="cd ~/docker && source tag && docker-compose -f docker-compose-logging.yml -f docker-compose-monitoring.yml -f docker-compose.yml up -d"
    - gcloud compute ssh docker-host-$CI_ENVIRONMENT_NAME --command="docker system prune --volumes -f"


.template: &stop
  image: google/cloud-sdk
  variables:
    GIT_STRATEGY: none
  tags:
    - docker
  script:
    - echo "Stop $CI_ENVIRONMENT_NAME env"
    - echo $GCLOUD_SERVICE_KEY | gcloud auth activate-service-account --key-file=-
    - gcloud --quiet config set project $GOOGLE_PROJECT_ID
    - gcloud --quiet config set compute/zone $GOOGLE_COMPUTE_ZONE
    - gcloud compute ssh docker-host-$CI_ENVIRONMENT_NAME --command="cd ~/docker && docker-compose -f docker-compose-logging.yml -f docker-compose-monitoring.yml -f docker-compose.yml up -d"
    - gcloud compute ssh docker-host-$CI_ENVIRONMENT_NAME --command="docker system prune --volumes -f"
    
deploy dev:
  stage: staging
  environment:
    name: dev
    url: $URL_DEV
    on_stop: stop_dev
  <<: *deploy

deploy preprod:
  stage: preprod
  environment:
    name: preprod
    url: $URL_PREPROD
    on_stop: stop_preprod 
  <<: *deploy
  only:
    - master
  when: manual

deploy production:
  stage: production
  environment:
    name: prod
    url: $URL_PROD
    on_stop: stop_production
  <<: *deploy
  only:
    - master
  when: manual

stop_dev:
  stage: staging
  environment:
    name: dev
    action: stop
  <<: *stop
  when: manual

stop_preprod:
  stage: preprod
  environment:
    name: preprod
    action: stop
  <<: *stop
  only:
    - master
  when: manual

stop_production:
  stage: production
  environment:
    name: prod
    action: stop
  <<: *stop
  only:
    - master
  when: manual
