stages:
  - build
  - testing
  - staging
  - preprod
  - production

.infa-only: &infra-only
  only:
    - /^infra_.*$/

.feature-only: &feature-only
  only:
    - /^feature_.*$/

variables:
  GOOGLE_PROJECT_ID: docker-258208
  GOOGLE_COMPUTE_ZONE: europe-west1-b

build_feature_job:
  stage: build
  <<: *feature-only
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  script:
    - echo 'Building...'
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"auth\":\"$CI_REGISTRY_BASE64\"}}}" > /kaniko/.docker/config.json
    - cd $CI_PROJECT_DIR/src/search_engine_crawler/
    - /kaniko/executor --context ./ --dockerfile ./Dockerfile --destination kovtalex/search_engine_crawler:$CI_COMMIT_TAG
    - cd $CI_PROJECT_DIR/src/search_engine_ui/
    - /kaniko/executor --context ./ --dockerfile ./Dockerfile --destination kovtalex/search_engine_ui:$CI_COMMIT_TAG

build_infra_job:
  stage: build
  <<: *infra-only
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  script:
    - echo 'Building...'
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"auth\":\"$CI_REGISTRY_BASE64\"}}}" > /kaniko/.docker/config.json
    - cd $CI_PROJECT_DIR/services/rabbitmq/
    - /kaniko/executor --context ./ --dockerfile ./Dockerfile --destination kovtalex/rabbitmq:$CI_COMMIT_TAG

test unit1:
  stage: testing
  <<: *feature-only
  image: python:3.6.0-alpine
  script:
    - echo "test unit search_engine_crawler"
    - cd $CI_PROJECT_DIR/src/search_engine_crawler/
    - pip install -r requirements.txt -r requirements-test.txt
    - python -m unittest discover -s tests/ 
    - coverage run -m unittest discover -s tests/ 
    - coverage report --include crawler/crawler.py

test unit2:
  stage: testing
  <<: *feature-only
  image: python:3.6.0-alpine
  script:
    - echo "test unit search_engine_ui"
    - cd $CI_PROJECT_DIR/src/search_engine_ui/
    - pip install -r requirements.txt -r requirements-test.txt
    - python -m unittest discover -s tests/ 
    - coverage run -m unittest discover -s tests/ 
    - coverage report --include ui/ui.py

deploy_dev_job:
  stage: staging
  image: google/cloud-sdk
  script:
    - echo 'Deploy Dev env'
    - echo $GCLOUD_SERVICE_KEY | gcloud auth activate-service-account --key-file=-
    - gcloud --quiet config set project $GOOGLE_PROJECT_ID
    - gcloud --quiet config set compute/zone $GOOGLE_COMPUTE_ZONE
    - gcloud compute ssh docker-host-dev --force-key-file-overwrite --command="cd ~/docker && docker-compose down"
    - gcloud compute scp --recurse docker docker-host-dev:~
    - gcloud compute ssh docker-host-dev --command="cd ~/docker && mv -f .env.example .env && docker-compose -f docker-compose.yml up -d"
  environment:
    name: dev
    url: http://35.241.227.40/
    on_stop: stop_dev_job

stop_dev_job:
  stage: staging
  image: google/cloud-sdk
  variables:
    GIT_STRATEGY: none
  script:
    - echo "Remove Dev env"
    - echo $GCLOUD_SERVICE_KEY | gcloud auth activate-service-account --key-file=-
    - gcloud --quiet config set project $GOOGLE_PROJECT_ID
    - gcloud --quiet config set compute/zone $GOOGLE_COMPUTE_ZONE
    - gcloud compute ssh docker-host-dev --force-key-file-overwrite --command="cd ~/docker && docker-compose down"
  when: manual
  environment:
    name: dev
    action: stop

preprod:
  stage: preprod
  when: manual
  only:
    - /^\d+\.\d+\.\d+/
  script:
    - echo 'Deploy Preproduction env'
    - echo $GCLOUD_SERVICE_KEY | gcloud auth activate-service-account --key-file=-
    - gcloud --quiet config set project $GOOGLE_PROJECT_ID
    - gcloud --quiet config set compute/zone $GOOGLE_COMPUTE_ZONE
    - gcloud compute ssh docker-host-preprod --force-key-file-overwrite --command="cd ~/docker && docker-compose down"
    - gcloud compute scp --recurse docker docker-host-preprop:~
    - gcloud compute ssh docker-host-preprod --command="cd ~/docker && mv -f .env.example .env && docker-compose -f docker-compose.yml up -d"

  environment:
    name: stage
    url: https://35.233.5.5/

production:
  stage: production
  when: manual
  only:
    - /^\d+\.\d+\.\d+/  
  script:
    - echo 'Deploy Production env'
    - echo $GCLOUD_SERVICE_KEY | gcloud auth activate-service-account --key-file=-
    - gcloud --quiet config set project $GOOGLE_PROJECT_ID
    - gcloud --quiet config set compute/zone $GOOGLE_COMPUTE_ZONE
    - gcloud compute ssh docker-host-prod --force-key-file-overwrite --command="cd ~/docker && docker-compose down"
    - gcloud compute scp --recurse docker docker-host-prod:~
    - gcloud compute ssh docker-host-prod --command="cd ~/docker && mv -f .env.example .env && docker-compose -f docker-compose.yml up -d"
  environment:
    name: production
    url: https://35.195.140.173/
