stages:
  - testing
  - build
  - push
  - staging
  - preprod
  - production

test unit crawler:
  stage: testing
  image: python:3.6.0-alpine
  script:
    - echo "test unit search_engine_crawler"
    - cd $CI_PROJECT_DIR/src/search_engine_crawler/
    - pip install -r requirements.txt -r requirements-test.txt
    - python -m unittest discover -s tests/ 
    - coverage run -m unittest discover -s tests/ 
    - coverage report --include crawler/crawler.py
test unit ui:
  stage: testing
  image: python:3.6.0-alpine
  script:
    - echo "test unit search_engine_ui"
    - cd $CI_PROJECT_DIR/src/search_engine_ui/
    - pip install -r requirements.txt -r requirements-test.txt
    - python -m unittest discover -s tests/ 
    - coverage run -m unittest discover -s tests/ 
    - coverage report --include ui/ui.py

build rabbitmq:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v0.15.0
    entrypoint: [""]
  script:
    - echo 'Building...'
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"auth\":\"$CI_REGISTRY_BASE64\"}}}" > /kaniko/.docker/config.json
    - cd $CI_PROJECT_DIR/services/rabbitmq/
    - /kaniko/executor --context ./ --dockerfile ./Dockerfile --destination kovtalex/rabbitmq:$CI_COMMIT_SHA

build ui:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v0.15.0
    entrypoint: [""]
  script:
    - echo 'Building...'
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"auth\":\"$CI_REGISTRY_BASE64\"}}}" > /kaniko/.docker/config.json
    - cd $CI_PROJECT_DIR/src/search_engine_ui/
    - /kaniko/executor --context ./ --dockerfile ./Dockerfile --destination kovtalex/search_engine_ui:$CI_COMMIT_SHA

build crawler:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v0.15.0
    entrypoint: [""]
  script:
    - echo 'Building...'
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"auth\":\"$CI_REGISTRY_BASE64\"}}}" > /kaniko/.docker/config.json
    - cd $CI_PROJECT_DIR/src/search_engine_crawler/
    - /kaniko/executor --context ./ --dockerfile ./Dockerfile --destination kovtalex/search_engine_crawler:$CI_COMMIT_SHA

push latest:
  stage: push  
  image: docker:19
  variables:
    GIT_STRATEGY: none
  script:
    - echo -n $CI_REGISTRY_PASS | docker login -u kovtalex --password-stdin
    - docker pull kovtalex/rabbitmq:$CI_COMMIT_SHA
    - docker pull kovtalex/search_engine_ui:$CI_COMMIT_SHA
    - docker pull kovtalex/search_engine_crawler:$CI_COMMIT_SHA
    - docker tag kovtalex/rabbitmq:$CI_COMMIT_SHA kovtalex/rabbitmq:latest
    - docker tag kovtalex/search_engine_ui:$CI_COMMIT_SHA kovtalex/search_engine_ui:latest
    - docker tag kovtalex/search_engine_crawler:$CI_COMMIT_SHA kovtalex/search_engine_crawler:latest
    - docker push kovtalex/rabbitmq:latest
    - docker push kovtalex/search_engine_ui:latest
    - docker push kovtalex/search_engine_crawler:latest
  only:
    - master
push tag:
  stage: push
  image: docker:19
  variables:
    GIT_STRATEGY: none
  script:
    - echo -n $CI_REGISTRY_PASS | docker login -u kovtalex --password-stdin
    - docker pull kovtalex/rabbitmq:$CI_COMMIT_SHA
    - docker pull kovtalex/search_engine_ui:$CI_COMMIT_SHA
    - docker pull kovtalex/search_engine_crawler:$CI_COMMIT_SHA
    - docker tag kovtalex/rabbitmq:$CI_COMMIT_SHA kovtalex/rabbitmq:$CI_COMMIT_REF_NAME
    - docker tag kovtalex/search_engine_ui:$CI_COMMIT_SHA kovtalex/search_engine_ui:$CI_COMMIT_REF_NAME
    - docker tag kovtalex/search_engine_crawler:$CI_COMMIT_SHA kovtalex/search_engine_crawler:$CI_COMMIT_REF_NAME
    - docker push kovtalex/rabbitmq:$CI_COMMIT_REF_NAME
    - docker push kovtalex/search_engine_ui:$CI_COMMIT_REF_NAME
    - docker push kovtalex/search_engine_crawler:$CI_COMMIT_REF_NAME
  only:
    - tags

deploy dev:
  stage: staging
  image: google/cloud-sdk
  script:
    - echo 'Deploy Dev env'
    - echo $GCLOUD_SERVICE_KEY | gcloud auth activate-service-account --key-file=-
    - gcloud --quiet config set project $GOOGLE_PROJECT_ID
    - gcloud --quiet config set compute/zone $GOOGLE_COMPUTE_ZONE
    - gcloud compute scp --recurse docker docker-host-dev:~
    - gcloud compute ssh docker-host-dev --command="export RABBITMQ_VER=$CI_COMMIT_SHA && export UI_VER=$CI_COMMIT_SHA && export CRAWLER_VER=$CI_COMMIT_SHA && cd ~/docker && mv -f .env.example .env && docker-compose -f docker-compose.yml up -d"
  environment:
    name: dev
    url: http://35.241.227.40/

deploy preprod:
  stage: preprod
  image: google/cloud-sdk
  script:
    - echo 'Deploy Preproduction env'
    - echo $GCLOUD_SERVICE_KEY | gcloud auth activate-service-account --key-file=-
    - gcloud --quiet config set project $GOOGLE_PROJECT_ID
    - gcloud --quiet config set compute/zone $GOOGLE_COMPUTE_ZONE
    - gcloud compute scp --recurse docker docker-host-preprod:~
    - gcloud compute ssh docker-host-preprod --command="cd ~/docker && mv -f .env.example .env && docker-compose -f docker-compose.yml up -d"
  when: manual
  only:
    - tags
  environment:
    name: stage
    url: http://35.233.5.5/

deploy production:
  stage: production
  image: google/cloud-sdk
  script:
    - echo 'Deploy Production env'
    - echo $GCLOUD_SERVICE_KEY | gcloud auth activate-service-account --key-file=-
    - gcloud --quiet config set project $GOOGLE_PROJECT_ID
    - gcloud --quiet config set compute/zone $GOOGLE_COMPUTE_ZONE
    - gcloud compute scp --recurse docker docker-host-prod:~
    - gcloud compute ssh docker-host-prod --command="cd ~/docker && mv -f .env.example .env && docker-compose -f docker-compose.yml up -d"
  when: manual
  only:
    - tags
  environment:
    name: production
    url: http://35.195.140.173/
