stages:
  - build
  - testing
  - review

variables:
  GOOGLE_PROJECT_ID: docker-258208
  GOOGLE_COMPUTE_ZONE: europe-west1-b

build_job:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  script:
    - echo 'Building...'
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"auth\":\"$CI_REGISTRY_BASE64\"}}}" > /kaniko/.docker/config.json
    - cd $CI_PROJECT_DIR/src/search_engine_crawler/
    - /kaniko/executor --context ./ --dockerfile ./Dockerfile --destination kovtalex/search_engine_crawler:$CI_COMMIT_TAG
    - cd $CI_PROJECT_DIR/src/search_engine_ui/
    - /kaniko/executor --context ./ --dockerfile ./Dockerfile --destination kovtalex/search_engine_ui:$CI_COMMIT_TAG

test unit1:
  stage: testing
  image: python:3.6.0-alpine
  script:
    - echo "test unit search_engine_crawler"
    - cd $CI_PROJECT_DIR/src/search_engine_crawler/
    - pip install -r requirements.txt -r requirements-test.txt
    - python -m unittest discover -s tests/ 
    - coverage run -m unittest discover -s tests/ 
    - coverage report --include crawler/crawler.py

test unit2:
  stage: testing
  image: python:3.6.0-alpine
  script:
    - echo "test unit search_engine_ui"
    - cd $CI_PROJECT_DIR/src/search_engine_ui/
    - pip install -r requirements.txt -r requirements-test.txt
    - python -m unittest discover -s tests/ 
    - coverage run -m unittest discover -s tests/ 
    - coverage report --include ui/ui.py

deploy_dev_job:
  stage: review
  image: google/cloud-sdk
  script:
    - echo 'Deploy'
    - echo $GCLOUD_SERVICE_KEY | gcloud auth activate-service-account --key-file=-
    - gcloud --quiet config set project $GOOGLE_PROJECT_ID
    - gcloud --quiet config set compute/zone $GOOGLE_COMPUTE_ZONE
    - gcloud compute ssh docker-host --force-key-file-overwrite --command="sudo curl -L \"https://github.com/docker/compose/releases/download/1.25.3/docker-compose-\$(uname -s)-\$(uname -m)\" -o /usr/local/bin/docker-compose"
    - gcloud compute ssh docker-host --command="sudo chmod +x /usr/local/bin/docker-compose"
    - cd $CI_PROJECT_DIR/docker/
    - ls -la
    - gcloud compute ssh docker-host --command="docker-compose up -d"
  environment:
    name: dev
    url: http://35.195.140.173:8000
