version: '3.7'
services:
  mongo:
    image: mongo:${MONGO_VER}
    container_name: mongo
    hostname: mongo
    restart: on-failure
    volumes:
      - mongo_db:/data/db
    ports:
      - '27017:27017'
    networks:
      back_net:

  rabbitmq:
    image: ${CI_REGISTRY_USERNAME}/rabbitmq:${RABBITMQ_VER}
    container_name: rabbit
    hostname: rabbit
    restart: on-failure
    volumes:
    ports:
      - '15672:15672'
    networks:
      back_net:
 
volumes:
  mongo_db:

networks:
  back_net:
