version: '3.7'
services:
  mongo:
    image: mongo:${MONGO_VER}
    restart: on-failure
    volumes:
      - mongo_db:/data/db
    networks:
      back_net:

  rabbitmq:
    image: kovtalex/rabbitmq:${RABBITMQ_VER}
    restart: on-failure
    ports:
      - 15672:15672/tcp
    networks:
      back_net:
 
  ui:
    image: kovtalex/search_engine_ui:${UI_VER}
    restart: on-failure
    environment:
      - MONGO=mongo
      - MONGO_PORT=27017
    ports:
      - 80:8000/tcp
    depends_on:
      - mongo
    networks:
      back_net:

  crawler:
    image: kovtalex/search_engine_crawler:${CRAWLER_VER}
    restart: on-failure
    environment:
      - MONGO=mongo
      - MONGO_PORT=27017
      - RMQ_HOST=rabbitmq
      - RMQ_QUEUE=urls
      - RMQ_USERNAME=guest
      - RMQ_PASSWORD=guest
      - CHECK_INTERVAL=60
      - URL=https://vitkhab.github.io/search_engine_test_site/
      - EXCLUDE_URLS=.*github.com
    depends_on:
      - mongo
      - rabbitmq
    networks:
      back_net:

volumes:
  mongo_db:

networks:
  back_net:

