version: '3.7'
services:
  mongo:
    image: mongo:${MONGO_VER}
    restart: on-failure
    volumes:
      - mongo_db:/data/db
    networks:
      back_net:

  rabbitmq:
    image: ${CI_REGISTRY_USERNAME}/rabbitmq:${RABBITMQ_VER}
    restart: on-failure
    hostname: rabbit
    ports:
      - 15672:15672
    networks:
      back_net:
 
  ui:
    image: ${CI_REGISTRY_USERNAME}/search_engine_ui:${UI_VER}
    restart: on-failure
    environment:
      - MONGO=mongo
      - MONGO_PORT=27017
    ports:
      - 80:8000
    depends_on:
      - mongo
    logging:
      driver: "fluentd"
      options:
        fluentd-address: localhost:24224
        tag: service.ui
    networks:
      back_net:

  crawler:
    image: ${CI_REGISTRY_USERNAME}/search_engine_crawler:${CRAWLER_VER}
    restart: on-failure
    environment:
      - MONGO=mongo
      - MONGO_PORT=27017
      - RMQ_HOST=rabbitmq
      - RMQ_QUEUE=urls
      - RMQ_USERNAME=guest
      - RMQ_PASSWORD=guest
      - CHECK_INTERVAL=60
      - EXCLUDE_URLS=${EXCLUDE_URLS1}
      - URL=${URL1}
    depends_on:
      - mongo
      - rabbitmq
    logging:
      driver: "fluentd"
      options:
        fluentd-address: localhost:24224
        tag: service.crawler
    networks:
      back_net:

volumes:
  mongo_db:

networks:
  back_net:
