version: '3.7'
services:
  prometheus:
    image: ${REGISTRY_USERNAME}/prometheus_prj:${PROMETHEUS_VER}
    ports:
      - '9090:9090'
    volumes:
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--storage.tsdb.retention=1d'
    networks:
      back_net:

  grafana:
    image: grafana/grafana:${GRAFANA_VER}
    volumes:
      - grafana_data:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus
    ports:
      - 3000:3000
    networks:
      back_net:

  alertmanager:
    image: ${REGISTRY_USERNAME}/alertmanager_prj:${ALERTMANAGER_VER}
    command:
      - '--config.file=/etc/alertmanager/config.yml'
    ports:
      - 9093:9093
    networks:
      back_net:
    
volumes:
  prometheus_data:
  grafana_data:

networks:
  back_net:
