---
global:
  scrape_interval: '5s'

rule_files:
- "alerts.yml"

alerting:
  alertmanagers:
    - scheme: http
      static_configs:
      - targets:
        - "alertmanager:9093"

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets:
        - 'localhost:9090'

  - job_name: 'search_engine_ui'
    static_configs:
      - targets:
        - 'ui:search_engine_ui:8000'

  - job_name: 'search_engine_crawler'
    static_configs:
      - targets:
        - 'search_engine_crawler:8000'

  - job_name: 'rabbitmq'
    static_configs:
      - targets:
        - 'rabbitmq:15692'
